<div class="input-group">
  <%= @storyline.story_name %>
  <img src='<%= Picture.where(storyline_id: @storyline.id).first.image %>'>
  <%= Phrase.where(storyline_id: @storyline.id).first.text %>
</div>
<%= link_to "Back", root_path %>
