here's turn <%= @turn %>
<%= render partial: 'player_form' %>

<% if @turn == nil || @turn.odd? %>
<div id="new_drawings">
  <!--append here-->
</div>
<%= render partial: 'phrase_form' %>

<% elsif @turn.even? && @turn != 0 %>

<div id="new_phrases">
  <!--append here-->
</div>
<%= render partial: 'picture_form' %>
  

<% end %>