<% if current_user  %>
	<% if @turn == nil || @turn.odd? %>
	<div id="new_drawings">
		<% if Picture.last %>
	  	<img src="<%= Picture.last.image %>">
	  <% end %>
	</div>
	<%= render partial: 'phrase_form' %>

	<% elsif @turn.even? && @turn != 0 %>
  <div id="heading">Draw a picture to describe the phrase below:</div>
	<div id="new_phrases">
		<% if Phrase.last %>
	  	<%= Phrase.last.text %>
	  <% end %>
	</div>
	<%= render partial: 'picture_form' %>
	  
	<% end %>
<% end %>