/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import 'bootstrap';

canvas 
{
  border: 1px solid;
  cursor: crosshair;
  display: block;
}
/* Prevent text selection */
.noselect 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
.tools 
{ 
  margin-bottom: 10px; 
}
.tools a 
{
  border: 1px solid black; 
  height: 30px; 
  line-height: 30px; 
  padding: 0 10px; 
  vertical-align: middle; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  color: black; 
  font-weight: bold;
}
